<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login / Pinterest</title>
  </head>
  <body>
    <div id="auth-page">
      <div class="form-page">
        <header>
          <i class="ri-pinterest-fill pin-logo"></i>
          <div class="heading">Login to see more</div>
          <% if(error.length>0){%>
            <p class="error"><%=error%></p>
          <%}%>
        </header>

        <form action="/login" method="post" class="auth-form">
          <div class="input-group">
            <label for="username">username</label>
            <input
              type="text"
              name="username"
              id="email"
              placeholder="username"
              required
            />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
              required
            />
            <a href="#ForgotPassword" class="ForgotPasswordLink"
              >Forgot password?</a
            >
          </div>
          <div class="input-group">
            <input type="submit" value="Log In" class="auth-submit-btn" />
          </div>
        </form>

        <p class="or-text">OR</p>

        <div class="auth-social-box">
          <a href="#Google" class="social-links"
            ><i class="ri-google-fill google"></i
          ></a>
          <a href="#FaceBook" class="social-links"
            ><i class="ri-facebook-circle-fill facebook"></i
          ></a>
        </div>

        <p class="page-para">
          Not on Pinterest yet? <a href="/register" class="link">Sign up</a>
        </p>

        <a href="/feed">
        <button class="close-btn">
          <i class="ri-close-fill"></i>
        </button></a>
      </div>
    </div>
  </body>
</html>
